.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 300px;
	padding: 50px 30px;
	margin-bottom: 0;
	color: $white;
	background-size: cover;
	cursor: pointer;

	@include mediaQuery(medium) {
		margin-bottom: 0;
		max-width: calc(100% / 3 - 20px);
		border-radius: 10px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.6;
		z-index: 0;

		@include mediaQuery(medium) {
			border-radius: 10px;
		}
	}

	&:hover {
		.blockNumber {
			color: $primaryColor;
		}
	}
}

.title,
.description {
	position: relative;
	z-index: 1;
}

.title {
	font-size: 30px;
	font-weight: 700;
	line-height: 34.5px;
	margin-bottom: 10px;
}

.description {
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;
}

.blockNumber {
	position: absolute;
	top: 20px;
	right: 20px;
	font-weight: 900;
	font-size: 40px;
	opacity: 0.8;
	transition: color 0.3s ease-in-out;
}
