.wrapper {
	position: relative;
	font-family: $primaryFontFamily;
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
	margin-right: 32px;
	padding: 10px 16px;
	z-index: 1;
	background-color: transparent;
	color: inherit;
	text-transform: uppercase;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.outline {
	border: 1px solid white;

	&.mobileNavigationButton {
		border-color: $bodyFontColor;
	}
}

.outline.hover {
	&:hover {
		background-color: $primaryColor;
		color: $white;
	}
}

.filled {
	background-color: $primaryColor;
	color: $white;
	border: none;
	transition: background-color 0.1s ease-in-out;

	&:hover {
		background-color: darken($primaryColor, 10);
	}
}

.hover {
	&::after,
	&:before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		transition: width 0.5s, height 0.5s, background-color 5s;
	}

	&::after {
		top: -1px;
		left: -1px;
	}

	&::before {
		bottom: -1px;
		right: -1px;
	}

	&:hover {
		cursor: pointer;

		&::after,
		&::before {
			width: 100%;
			height: 100%;
		}

		&::after {
			border-top: 2px solid $primaryColor;
			border-left: 2px solid $primaryColor;
		}

		&::before {
			border-bottom: 2px solid $primaryColor;
			border-right: 2px solid $primaryColor;
		}
	}
}

.mobileNavigationButton {
	margin: 20px 0;
	color: $bodyFontColor;
}

.clickEffect {
	transition: transform 0.5ms linear;

	&:active {
		transform: scale(0.9);
	}
}

.loader {
	width: 28px;
	height: 28px;
	border: 2px solid #fff;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
