.wrapper {
	@include sectionWrapper;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
}

.address {
	width: 178px;
	height: 94px;
}

.buttonsWrapper {
	width: 600px;
	height: 50px;
}
