$gray: #9b9b9b;
.wrapper {
	position: relative;
	padding: 15px 0 0;
	margin-top: 20px;
	width: 100%;
}

.withError {
	.field {
		border-color: red;
	}
}

.field {
	font-family: inherit;
	width: 100%;
	border: 0;
	outline: 0;
	font-size: 16px;
	color: $bodyFontColor;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
	border-bottom: 2px solid $primaryColor;

	&::placeholder {
		color: transparent;
	}

	&:placeholder-shown ~ .label {
		font-size: 16px;
		cursor: text;
		top: 20px;
	}
}

.label {
	position: absolute;
	top: -5px;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: $gray;
}

.field:focus {
	~ .label {
		position: absolute;
		top: -5px;
		display: block;
		transition: 0.2s;
		font-size: 1rem;
		color: $primaryColor;
		font-weight: 700;
	}
	padding-bottom: 6px;
	border-width: 3px;
}

.field {
	&:required,
	&:invalid {
		box-shadow: none;
	}
}

.textarea {
	overflow: hidden;
	min-height: 150px;
	resize: none;
}

.error {
	margin-top: 5px;
	color: red;
	font-size: 14px;
}
