.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: $containerMaxWidth;
	margin: 0 auto;
	font-family: $primaryFontFamily;
	max-height: $navigationMaxHeight;
}

.additional_info {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 10px 0 15px;
	font-weight: 300;
	font-size: 12px;
}
.email {
	margin-right: 20px;
}
.phone {
}
.logoAndButtons_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	position: relative;
	height: 80px;
	width: 270px;
	z-index: 1;
}
.buttons {
	display: flex;

	a:last-child {
		margin-right: 0;
	}
}
