.navigation {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: $containerMaxWidth;
	margin: 0 auto;
	font-family: $primaryFontFamily;
}

.navigation_additional_info {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 10px 0 15px;
	font-weight: 300;
	font-size: 12px;
}
.navigation_email {
	margin-right: 20px;
}
.navigation_phone {
}
.navigation_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navigation_logo {
	position: relative;
	height: 80px;
	width: 270px;
	z-index: 1;
}
.navigations_buttons {
	display: flex;
}
