.wrapper {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 227px;
	padding-left: 10px;
	background-size: cover;
	margin-bottom: 10px;

	@include mediaQuery(medium) {
		max-width: 295px;
	}

	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index: 0;
	}
}

.status {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 10px;
	left: 10px;
	border-radius: 50%;

	&.done {
		background-color: green;
	}

	&.pending {
		background-color: yellow;
	}
}

.name {
	font-size: 14px;
	font-weight: 700;
	line-height: normal;
}

.description {
	margin: 5px 0 20px;
	font-size: 12px;
	font-weight: 300;
	line-height: normal;
}

.status,
.name,
.description {
	z-index: 1;
}
