.wrapper {
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;

	@include mediaQuery(medium) {
		flex-direction: row;
	}
}

.leftSideWrapper {
	padding: 20px;
	margin-bottom: 30px;

	@include mediaQuery(medium) {
		margin-bottom: 0;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.rightSideWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;

	@include mediaQuery(medium) {
		padding: 0 0 0 20px;
	}
}

.leftSideWrapper,
.rightSideWrapper {
	@include mediaQuery(medium) {
		flex: 0 0 50%;
	}
}

.paragraph {
	font-size: 18px;
	font-weight: 300;
	line-height: 20px;
	font-family: $primaryFontFamily;
	margin-bottom: 20px;
}
