.wrapper {
	width: 100%;
	max-width: $containerMaxWidth;
	margin: 130px auto 190px;
	position: relative;
	z-index: 1;
}

.content {
	width: 100%;
	max-width: 780px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 20px;

	@include mediaQuery(medium) {
		padding: 0;
	}
}

.title {
	@include sectionTitle;
	text-align: left;
}

.description {
	width: 80%;
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 300;
	line-height: 29px;

	@include mediaQuery(medium) {
		font-size: 20px;
	}
}
