.wrapper {
	position: relative;
	width: 100%;
	max-width: 283px;
	padding-left: 45px;
	margin-bottom: 50px;
	margin-right: 30px;
}

.icon {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 30px;
	height: 30px;

	img {
		height: 100%;
		width: 100%;
	}
}

.title {
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 15px;
}

.shortDescription {
	font-size: 12px;
	font-weight: 300;
	line-height: 19px;
	margin-bottom: 20px;
}

.button {
	color: $primaryColor;
	font-size: 12px;
	font-weight: 700;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
