* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	--swiper-navigation-size: 22px !important;
	--swiper-pagination-color: #454ade;
	--swiper-navigation-color: white;
	--swiper-pagination-bullet-size: 15px;
	--swiper-pagination-bullet-inactive-color: #fff;
	--swiper-pagination-bullet-inactive-opacity: 0.4;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

body {
	color: $bodyFontColor;
	font-family: var(--fontPrimary);
	background-color: $white;
	height: 100dvh;
	--scroll-behavior: smooth !important;
	scroll-behavior: smooth !important;
	scroll-padding: 50px;
}

a {
	color: white;
	text-decoration: none;
}

button {
	font-family: inherit;
}
