$backgroundColor: #1c1d21;
$primaryColor: #007bff;
$primaryFontFamily: 'Open Sans', sans-serif !important;
$secondFontFamily: 'Raleway', sans-serif !important;
$containerMaxWidth: 1200px;
$navigationMaxHeight: 118px;
