$backgroundColor: #fffafa;
$primaryColor: #007bff;
$bodyFontColor: #212121;
$white: #fff;
$primaryFontFamily: 'Open Sans', sans-serif !important;
$secondFontFamily: 'Raleway', sans-serif !important;
$containerMaxWidth: 1200px;
$navigationMaxHeight: 118px;
