$backgroundColor: #1c1d21;
$primaryColor: #454ade;
$primaryFontFamily: 'Work Sans', sans-serif;
$secondFontFamily: 'Oswald', sans-serif !important;
$containerMaxWidth: 1200px;
$navigationMaxHeight: 118px;
